@model UsedCarApp.Models.AdDto
@{
    ViewBag.Title = "DeleteConfirm";
}
<a class="createnew" href="/Ad/List">Cancel</a>
<h2>Are you sure you want to delete this ad?</h2>

<h3>@Model.CarYear @Model.CarMake @Model.CarModel</h3>
<h3>$ @Model.Price</h3>
<p>@Model.Km</p>
<p>@Model.Description</p>
<form action="/ad/delete/@Model.AdId" method="POST">
    <input type="submit" value="Confirm Delete"/>
</form>
