@model UsedCarApp.Models.ViewModels.UpdateAd
@{
    ViewBag.Title = "Edit";
}

<h2>Update Ad</h2>
<form action="/Ad/Update/@Model.SelectedAd.AdId" method="POST" enctype = "multipart/form-data"  >
    <div style="display:none" >
        <label>AdId:</label> <input type="number" name="AdId" value="@Model.SelectedAd.AdId" />
    </div>
    <div>
        <label>Price:</label> <input type="number" name="Price" value="@Model.SelectedAd.Price" />
    </div>
    <div>
        <label>Km:</label> <input type="number" name="Km" value="@Model.SelectedAd.Km" />
    </div>
    <div>
        <label>Car:</label>
        <select name="CarId">
            @foreach (var car in Model.CarOptions)
            {
                var selected2 = "";
                if (car.CarId == Model.SelectedAd.CarId)
                {
                    selected2 = "selected";
                }
                <option value="@car.CarId" @selected2>@car.Year @car.Make @car.Model</option>
            }
        </select>
        <label>User:</label>
        <select name="UserId">
            @foreach (var user in Model.UserOptions)
            {
                var selected = "";
                if (user.UserId == Model.SelectedAd.UserId)
                {
                    selected = "selected";
                }
                <option value="@user.UserId" @selected>@user.UserName</option>
            }
        </select>
    </div>

    <div>
        <input type="file" name="AdPic"/>
    </div>
    <div>
        <label>Description:</label> <input type="text" name="Description" value="@Model.SelectedAd.Description" />
    </div>
    <div>
        <input type="submit" value="Update Ad" />
    </div>
</form>

