@model UsedCarApp.Models.ViewModels.NewAd
@{
    ViewBag.Title = "Create";
}
<a class="createnew" href="/ad/list">Back to Ad list</a>
<form action="/Ad/Create" method="POST">
    <fieldset>
        <legend>Create New Ad</legend>
        <div>
            <label>Description:</label> <input name="Description" type="text" />
        </div>
        <div>
            <label>Price:</label> <input name="Price" type="number" />
        </div>
        
        <div>
            <label>Car:</label>
            <select name="CarId">
                @foreach (var cars in Model.AllCars)
                {
                    <option value="@cars.CarId">@cars.Year @cars.Make @cars.Model</option>
                }
            </select>
        </div>
        <div>
            <label>Km:</label> <input type="number" name="Km" />
        </div>
        <div>
            <label>User:</label>
            <select name="UserId">
                @foreach (var users in Model.AllUsers)
                {
                    <option value="@users.UserId">@users.UserName</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Create Ad" />
        </div>
    </fieldset>
</form>

