@model UsedCarApp.Models.ViewModels.DetailsCar
@{
    ViewBag.Title = "Details";
}

<a class="deleteconfirm" href="/car/deleteconfirm/@Model.SelectedCar.CarId">Delete this car</a>
<a class="createnew" href="/car/edit/@Model.SelectedCar.CarId">Update Car</a>
<a class="createnew" href="/car/list">Go back to Car List</a>
<h2>Details</h2>
<h3>@Model.SelectedCar.Year @Model.SelectedCar.Make @Model.SelectedCar.Model</h3>

<h3>Ads this car is featured in:</h3>
<div class="linklist">
    @foreach (var ad in Model.RelatedAd)
    {
        <a href="/ad/Details/@ad.AdId">@ad.CarYear @ad.CarMake @ad.CarModel</a>

    }
</div>

